.form {
  padding: 5px 10px;
  width: 100%;
  margin: 0px 10px;
}
.form-input {
  margin: 5px 10px;
  border-radius: 3px;
  float: left;
  padding: 8px 10px;
  width: 50%;
  border: 1px solid #1e64e6;
}
.buttons {
  display: block;
  margin: 0 10px;
}

@media only screen and (max-width: 768px) {
  .form {
    padding: 5px;
    margin: 5px 5px;
    width: 100%;
  }
  .form-input {
    font-size: 12px;
    display: block;
    padding: 10px 2px;
    margin: 5px 0px;
    float: none;
    width: 90%;
  }
  .buttons {
    display: block;
  }
}
